/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* 2. Remove default margin */
* {
	margin: 0;
}

/* 3. Remove default padding */
* {
	padding: 0;
}

html {
	font-family: 'Lexend Deca', sans-serif;
}

button {
	all: unset;
	cursor: pointer;

	background: white;
	color: chocolate;
	font-family: inherit;
	font-size: 2rem;
	font-weight: inherit;
	text-align: center;
	/* border: solid black 2px; */
	border-radius: 2rem;
	padding: 1rem 2rem;
	transition: filter 0.2s;

	&:disabled {
		cursor: not-allowed;
        filter:contrast(0.25) grayscale(1);
	}

	&:not(:disabled):hover {
		filter: invert(1);
	}
}

h1 {
	font-size: 2rem;
	text-align: center;
	/* text-shadow: #000A 0px 0px 10px; */
}

h2 {
	font-size: 1.5rem;
	text-align: center;
	/* text-shadow: #000A 0px 0px 10px; */
}

p {
	font-size: 1.5rem;
	text-align: center;
	/* text-shadow: #000 0px 0px 5px; */
}

textarea {
	all: unset;

	font-family: 'Lexend Deca', sans-serif;
	font-size: 1.25rem;
	padding: 1rem;
	height: 10rem;
	border-radius: 2rem;
	border: solid 2px white;
}
